* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    color: white;
}

/* NAVIGÁCIÓSSÁV */
header {
    width: 100%;
    padding: 25px 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header .logo {
    font-size: 22px;
    letter-spacing: 2px;
}

header nav a {
    margin-left: 25px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}
nav a:hover{
    color: yellow;
}

/* KÉP*/
.kep img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
}


