* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    color: white;
}

/* NAVIGÁCIÓSSÁV */
header {
    width: 100%;
    padding: 25px 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    font-size: 22px;
    letter-spacing: 2px;
}

header nav a {
    margin-left: 25px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}
nav a:hover{
    background-color: rgba(255, 255, 0, 0.404);
}

/* KÉP*/
.kep img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
}


/* Rólunk szoveg */
.rolunk {
    background: #2d2d2d;
    padding: 60px 15%;
    text-align: left;
}

.rolunk h2 {
    font-size: 26px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.rolunk .tört {
    color: #b3b3b3;
    margin-bottom: 20px;
}

.rolunk p {
    margin-bottom: 18px;
    line-height: 24px;
}
.rolunk .neza {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.rolunk .bal {
    flex: 1;
}

.rolunk .jobb {
    flex: 2;
}


.telsz {
    font-size: 15px;
}

/* MENU SZEKCIÓ*/
.menu {
    text-align: center;
    padding: 70px 15%;
}

.menu h2 {
    font-size: 26px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.menu .cim {
    color: #b3b3b3;
    margin-bottom: 25px;
}

.menu p {
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 30px;
}

.gomb {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.gmb {
    padding: 12px 28px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.gmb:hover {
    background: rgba(255, 255, 0, 0.658) ;
    color: rgb(255, 255, 255);
}
