* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    color: white;
}

/* NAVIGÁCIÓSSÁV */
header {
    width: 100%;
    padding: 25px 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    font-size: 22px;
    letter-spacing: 2px;
}

header nav a {
    margin-left: 25px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}
nav a:hover{
    background-color: rgba(255, 255, 0, 0.404);
}

/* KÉP*/
.kep img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
}


/* Rólunk szoveg */
.rolunk {
    background: #2d2d2d;
    padding: 60px 15%;
    text-align: left;
}

.rolunk h2 {
    font-size: 26px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.rolunk .tört {
    color: #b3b3b3;
    margin-bottom: 20px;
}

.rolunk p {
    margin-bottom: 18px;
    line-height: 24px;
}
.rolunk .neza {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.rolunk .bal {
    flex: 1;
}

.rolunk .jobb {
    flex: 2;
}


.telsz {
    font-size: 15px;
}

/* MENU SZEKCIÓ*/
.menu {
    text-align: center;
    padding: 70px 200px;
}

.menu h2 {
    font-size: 26px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.menu .cim {
    color: #b3b3b3;
    margin-bottom: 25px;
}

.menu p {
    line-height: 25px;
    max-width: 700px;
    margin: 0 auto 30px;
}

.gomb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.gmb {
    padding: 20px 70px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.gmb:hover {
    background: rgba(255, 255, 0, 0.658) ;
    color: rgb(255, 255, 255);
}





.container1 {
    
    display: grid;
    grid-template-areas:
      "pizza1 pizza1 voros"
      "gomba pizza2 voros"
      "gomba pizza2 elo"
      "blank blank elo";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 0.3fr 0.7fr 0.1fr;
    gap: 20px;
    padding: 5px;
   /* height: 800px;*/
    
   
}

.spec {
    text-align: center;
    padding: 40px 0;
}

.spec h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.spec p {
    color: #bbbbbb;
    font-size: 14px;

}

  
  .container1 div {
    padding: 10px;

    display: flex;
    justify-content: center;   /* vízszintesen középre */
    align-items: flex-end;     /* alulra helyezés */
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .container1 div.pizza1 {
    grid-area: pizza1;
    height: 50vh;
    /* width: 100vh; */
    background-image: url(/képek/pizzakep.jpg);
    background-size: cover;


   
  }
  .container1 div.pizza2 {
    grid-area: pizza2;
    background-image: url(/képek/pizzakep4.jpg);
    background-size: cover;

   
  }
  .container1 div.voros {
    grid-area: voros;
    background-image: url(/képek/pizzakep2.jpg);
    background-size: cover;

  }
  .container1 div.blank {
    grid-area: blank;
  }
  .container1 div.elo {
    grid-area: elo;
    background-image: url(/képek/pizzakep5.jpg);
    background-size: cover;
    background-position: 100%;

  }
  .container1 div.gomba {
    grid-area: gomba;
    background-image: url(/képek/pizzakep3.jpg);
    background-size: cover;

  }
  #galleryflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin: auto;   /* <<< EZ KELL A KÖZÉPRE IGAZÍTÁSHOZ */
  }

#galleryszin{
    width: 100%;
        background: #2d2d2d;
    
}



.container1 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
}


.container1 div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 0, 0.507); /* sárga áttetsző */
    opacity: 0;
    transition: 0.3s;
}

.container1 div:hover::after {
    opacity: 1;
}
.container1 div.blank::after {
    display: none !important;
}








.container {
    display: flex;
    justify-content: space-between;
    padding: 80px 120px;
}


.bal, .kozep, .jobb {
    width: 30%;
    text-align: left;   
}


.bal h2, 
.kozep h3,
.jobb h3 {
    margin-bottom: 20px;
    letter-spacing: 1px;
}


.nyitva p {
    margin: 0;
    padding: 12px 0;
    border-bottom: 1px solid #444;  /* <<< pont mint a képen */
    font-size: 15px;
    line-height: 1.4;
}


.nyitva p:last-child {
    border-bottom: none;
}


.gmb2 {
    display: inline-block;
    color: #fff;
    text-decoration: underline;
    margin-top: 20px;
}

footer {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 12px;
    color: #aaaaaa;
    padding: 40px 0;
    margin-top: 60px;

    border-top: 1px solid #555;  
}







/* Hamburger alapból nem látszik */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Checkbox elrejtése */
#menu-toggle {
    display: none;
}

/* ---- 80% szélességnél (kb. 960px) váltson ---- */
@media (max-width: 960px) {

    nav {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background: #111;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    nav a {
        display: block;
        padding: 12px 0;
        font-size: 18px;
    }

    /* hamburger megjelenik */
    .hamburger {
        display: block;
    }

    /* ha be van pipálva → menü megjelenik */
    #menu-toggle:checked ~ nav {
        display: block;
    }
}
