* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #b9ecf4;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: #00b7ad;
  padding: 20px;
  font-size: 25px;
}

main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 30px;

}

aside {
  background-color: #66d37e;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 6px;
}

article {
  background-color: #f5a742;
  flex: 3;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article h1 {
    margin-bottom: 20px;
    padding-top: 500px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.dobozkep {
  background-color: #ffcc4d;
  flex: 1;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

footer {
  padding: 10px;
  font-size: 24px;
}